[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tree-sitter = "==0.2.2"
huggingface-hub = "*"
astunparse = "*"
transformers = "*"
evaluate = "*"
accelerate = "*"
nvidia-ml-py3 = "*"
sacrebleu = "*"

[dev-packages]

[requires]
python_version = "3.8"
